<div  class="resume-1">
  <div class="container">
    <div class="top">
      <div class="imgBx">
        <div class="box">
          <img style="width:150px;height:150px;border:2px solid blcak" src="" alt="" />
        </div>
      </div>
      <div class="profileText">
        <h3>
          Afifahmad <br /> Nadaf <br /><span>MEAN Stack Developer</span>
        </h3>
      </div>
    </div>
    <div class="contentBox">
        <div class="leftSide">
            <h3>Contact Info</h3>
            <ul>
                <li>
                    <span class="icon"></span>
                    <span class="text">7249328035</span>
                </li>
                <li>
                    <span class="icon"></span>
                    <span class="text">nadafafifahmad@gmail.com</span>
                </li>
                <li>
                    <span class="icon"></span>
                    <span class="text">Linkedin.com</span>
                </li>
            </ul>
            <h3>Education</h3>
            <ul class="education">
                <li>
                    <h5>2010 - 2013</h5>
                    <h4>Msc </h4>
                    <h6>University of chicago</h6>
                </li>
                <li>
                    <h5>2010 - 2013</h5>
                    <h4>Msc </h4>
                    <h6>University of chicago</h6>
                </li>
                <li>
                    <h5>2010 - 2013</h5>
                    <h4>Msc </h4>
                    <h6>University of chicago</h6>
                </li>
            </ul>
            <h3>Langauge</h3>
            <ul class="langauge">
                <li>
                    <span class="text">English</span>
                    <span class="percent" >
                        <div style="width:70%"></div>
                    </span>
                </li>
                <li>
                    <span class="text">Hindi</span>
                    <span class="percent" >
                        <div style="width:95%"></div>
                    </span>
                </li>
                <li>
                    <span class="text">Marathi</span>
                    <span class="percent" >
                        <div style="width:95%"></div>
                    </span>
                </li>
            </ul>
            <h3>Extras</h3>
            <ul class="extras">
                <li>
                    <span class="icon">Gaming</span>
                </li>
                <li>
                    <span class="icon">Drawing</span>
                </li>
                <li>
                    <span class="icon">Cooking</span>
                </li>
                <li>
                    <span class="icon">Learning</span>
                </li>
            </ul>
        </div>
        <div class="rightSide">
            <div class="about">
                <h3>Profile</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi molestias aut architecto beatae,
                     libero, earum doloribus provident distinctio ab enim laudantium cumque a vitae facilis aperiam? 
                     Fugit laboriosam cupiditate sed. <br> <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, culpa amet id reprehenderit minima sed, est accusantium expedita odio autem illum error obcaecati. Alias inventore aut quos est temporibus impedit eos officiis autem minima hic vitae ea, placeat sapiente iure, iusto adipisci.
                     Tempora laudantium aperiam impedit est adipisci dicta quibusdam.
                    </p>
            </div>
            <div class="about">
                <h3>Experience</h3>
                <div class="box">
                    <div class="year">
                        <h5>2018 - 2019</h5>
                        <h5>Company Name</h5>
                    </div>
                    <div class="text">
                        <h4>Mean Stack Developer</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum commodi mollitia, ea doloribus ratione odit nobis esse sunt, debitis ipsum, culpa sed! Omnis nobis dolorem neque 
                            inventore, aliquid tempora quae?</p>
                    </div>
                </div>
                <div class="box">
                    <div class="year">
                        <h5>2019 - 2020</h5>
                        <h5>Company Name</h5>
                    </div>
                    <div class="text">
                        <h4>Mean Stack Developer</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum commodi mollitia, ea doloribus ratione odit nobis esse sunt, debitis ipsum, culpa sed! Omnis nobis dolorem neque 
                            inventore, aliquid tempora quae?</p>
                    </div>
                </div>
                <div class="box">
                    <div class="year">
                        <h5>2020 - present</h5>
                        <h5>Company Name</h5>
                    </div>
                    <div class="text">
                        <h4>Mean Stack Developer</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum commodi mollitia, ea doloribus ratione odit nobis esse sunt, debitis ipsum, culpa sed! Omnis nobis dolorem neque 
                            inventore, aliquid tempora quae?</p>
                    </div>
                </div>
            </div>
            <div class="skills">
                <h3>Professional Skills</h3>
                <div class="box">
                    <ul class="skill-list">
                        <li>
                            <div>Html</div>
                        </li>
                        <li>
                            <div>CSS</div>
                        </li>
                        <li>
                            <div>JavaScript</div>
                        </li>
                        <li>
                            <div>JavaScript</div>
                        </li>
                        <li>
                            <div>JavaScript</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- resume 2 moderncv coders gyan -->
<div class="resume-2">
    <div class="container">
        <div class="profile">
            <div class="left">
                <div class="avtar">
                    <img src=""  alt="">
                    <span class="comment"> HI</span>
                </div>
                <div class="">
                    <h2>Afifahmad Nadaf</h2>
                    <p class="cd-head loading">
                        <span class="cd-words-wrapper">
                            <b class="is-visible">
                                MEAN Stack Developer
                            </b>
                        </span>
                    </p>
                </div>
            </div>
            <div class="right">
                <ul class="contact">
                    <li>
                        <!-- <span class="uil">Icon</span> -->
                        <strong>PHONE : </strong> 7249328035
                    </li>
                    <li>
                        <!-- <span class="uil">Icon</span> -->
                        <strong>EMAIL : </strong> abc@gmail.com
                    </li>

                </ul>
                <ul class="socials">
                    <li>
                        <!-- <span class="uil">Icon</span> -->
                        <strong>Facebook : </strong> facebook.com
                    </li>
                    <li>
                        <!-- <span class="uil">Icon</span> -->
                        <strong>LinkedIN : </strong> linkedin.com
                    </li>

                </ul>
            </div>
        </div>        
    </div>
</div>


