.nav-right,.nav-left,.nav-mid{
    display: flex;
    justify-content: center;
}

.nav-barnavbar-brand{

}

.nav-tabs{
    padding: 0px 10px;
    border-radius: 4px;
    border-bottom: none !important;
    text-decoration: none;
    cursor: pointer;
    margin: 0 10px ;
}
.main-content{
    width: 100vw;
    height: 100vh;
    display:flex;
    
    .left{
        width: 20%;
        height: 100%;
        
        border: 2px solid red;
    }
    .right{
        border: 2px solid red;
        width: 80%;
        height: 100%;
        background-color: aliceblue;

    }
}
.active{
    color: rgba(198, 225, 248,0.8);
}
.active-btn{
    background-color: rgba(198, 225, 248,0.8); ;
}
.search{
    display: flex;
}
table {
    width: 100%;
  }
