<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" >
    <div class="navbar-brand nav-left" >
      <div></div>
      <h2 class="title">CloudAge</h2>
      <div class="nav-tabs" [routerLink]="'/home'" routerLinkActive="active">
        <span>Home</span>
      </div>
      <div class="nav-tabs" [routerLink]="" routerLinkActive="active">
        <span>Services</span>
      </div>
      <div class="nav-tabs" [routerLink]="" routerLinkActive="active">
        <span>Technologies</span>
      </div>
      
    </div>
    <div class="navbar-brand nav-mid" >

    </div>
    <div class="navbar-brand nav-right" >
      <div class="nav-tabs" [routerLink]="" routerLinkActive="active">
        <span>About Us </span>
      </div>
      <div class="nav-tabs" [routerLink]="" routerLinkActive="active">
        <span>Contact Us </span>
      </div>

      <button type="button" class="btn btn-light"  [routerLink]="'/resume-build'" routerLinkActive="active-btn" >Build Resume</button>&nbsp;
      <button type="button" class="btn btn-light"  [routerLink]="" routerLinkActive="active" >LMS</button>
    </div>
  </div>
</nav> -->
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="true">Drawer content</mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>

<!-- <router-outlet></router-outlet> -->
